<html>
    <head>
        <title>
            Perihal
        </title>
    </head>
    <body>
        <h1>
            Pembuatan Program
        </h1>
        <p>
            Jadi Perkenalkan saya Muhammad Fauzan Al-Ghifari (13518112).
            Menurut saya ini adalah tugas kecil paling unik karena berbasis web.
            hal ini membuat saya mempelajari hal baru. Namun sayang sekali bahwa
            jadwal pengumpulan tugas ini sangat berdekatan dengan tugas OOP yang 
            membuat saya tidak sempat memaksimalkan tugas ini. program dibuat dengan
            menggunakan python dan flask.
        </p>
    </body>
</html>